/* start custom scss snippet */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;

}
.category-list{
    list-style: none;
}
.category-list>li>ul{
    margin-left: 1.5vw
}
.category-list a{
    color: $text-color-1;
}
.category-list a:hover{
    color: $main-color-1 !important;
}
.article__header>header>span{
    margin-left: 1vw;
    font-size: 1.2em;
}
.header_fixed{
    position: fixed;
    width: 100%;
    z-index: 100;
}
/* end custom scss snippet */
